*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

.container{
    width: 100%;
    height: 100vh;
}
/* BARRA NAVIGAZIONE */
.nav-bar{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 200px;
    height: 100vh;
    padding: 15px 15px 73px 0px;
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-spotify img{
    width: 130px;
}

.logo{
    padding-left: 18px;
}

.logo1{
    display: none;
}

.navigation ul{
    list-style-type: none;
    margin-top: 20px;
}

.navigation ul li{
    padding: 5px 18px;
}

.border li:first-child{
    border-left: 3px solid #adff2f; 
    padding: 5px 15px;
}

.navigation a{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 13px;
}

.ricerca img{
    width: 20px;
    vertical-align: middle;
}

.playlist{
    margin-bottom: 250px;
    overflow-y: scroll;
}

.playlist i{
    font-size: 2rem;
    vertical-align: middle;
}

.playlist ul{
    color: #b3b3b3;
    font-size: 10px;
}

.playlist h4{
    color: #ffffff;
    font-size: 15px;
}

.navigation-bottom{
    padding-left: 18px;
}

.navigation ul li a:hover, .playlist ul li:hover{
    color: #ffffff;
}

.navigation-bottom a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 10px;
}

.navigation-bottom hr{
    border: 0.5px solid #b3b3b3;
    margin: 5px 0;
    padding: 0;
}

.navigation-bottom a:last-child{
    color: #ffffff;
    font-size: 15px;
}

.navigation-bottom a:hover{
    color: #fff;
}

.profile{
    width: 20px;
    border-radius: 30px;
    padding: 1px 2px;
    background-color: #b3b3b3;
}

.navigation-bottom img{
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
/* FINE BARRA NAVIGAZIONE */

/* CONTENUTO CENTRALE E TOP BAR*/

.top-bar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #080b12dc;
    padding: 20px 5px;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 50;
}

.top-bar button{
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px 43px;
    border-radius: 20px;
    margin-right: 20px;
}

.top-bar button:hover{
    transform: scale(1.1);
}

.main{
    width: 100%;
    height: 100%;
    padding: 100px 0 0 210px;
    text-align: center;
}

.cartelle{
    margin-bottom: 50px;
    font-size: 1.2rem;
}

.active{
    display: inline-block;
    position: relative;
}

.active::after{
    display: block;
    content: '';
    background-color: #adff2f;
    height: 2px;
    width: 50%;
    position: absolute;
    right: 25%;
    transform: translatey(-50%);
}

.cartelle ul li{
    display: inline;
    margin: 0 20px 0 0;
}

.cartelle a{
    color: #b3b3b3;
    text-decoration: none;
}

.cartelle a:hover{
    color: #ffffff;
}

.spotify-playlsit h2{
    text-align: start;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 40px;
}

.row-spotify{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-spotify{
    width: calc(100% / 6 - 10px);
    margin: 0 5px 30px 5px;
}

.content-spotify img{
    width: 12vw;
}

.circle{
    position: relative;
}

.circle:hover, .circle i:hover{
    filter: grayscale(100%);
    color: #b3b3b3;
}

.circle i{
    position: absolute;
    font-size: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    padding: 1vh;
}

.content-spotify h2{
    text-align: center;
    margin: 10px 4px;
    font-size: 1rem;
}

.content-spotify p{
    color: #b3b3b3;
}

.text-start{
    text-align: start;
    margin-bottom: 30px;
}

.text-start h2{
    margin: 0 0 10px 0;
}

.text-start p{
    color: #b3b3b3;
}

.row2-spotify{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.col2-spotify{
    margin: 0 30px 30px 30px;
}

.border-radius{
    border-radius: 100%;
    margin-bottom: 80px;
}

/* FINE CONTENUTO CENTRALE E TOP BAR*/

/* BOTTOM BAR */
.bottom-bar{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #282828;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}

.col-bottom-bar{
    display: flex;
    align-items: center;
    width: calc(100% / 3);
}

.col-bottom-bar img{
    width: 40px;
}

.name-bottom-bar{
    margin: 0 40px 0 10px;
    color: #ffffff;
    font-size: 0.6rem;
}

.name-bottom-bar p{
    margin-left: 2px;
}

.col-bottom-bar i{
    margin-right: 10px;
    color: #b3b3b3;
    font-size: 0.6rem;
}

.grey{
    color: #b3b3b3;
    border: 1px solid transparent;
}

.grey:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.col-bottom-bar i:hover{
    color: #fff;
}

.col-bottom-bar:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range{
    color: #ffffff; 
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.play{
    height: 30px;
    
}

.play i{
    color: #ffffff; 
    font-size: 1.3rem;
    margin: 0 15px 10px 0;
}

.play i:nth-child(3):hover{
    transform: scale(1.5);
}

input[type="range"] {
    margin-right: 15px;
    width: 20vw;
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#fff, #b3b3b3);
    background-size: 25% 100%;
    background-repeat: no-repeat;
}

.slider::-moz-range-thumb{
    background-color: transparent;
    border: none;
}

input[type="range"]:hover{
    background-image: linear-gradient(#adff2f, #fff);
}

.slider::-moz-range-thumb:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.volume input{
    width: 100px;
}

input, output {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5rem;
}

output {
    background: #b3b3b3;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
}

input[type="number"] {
    width: 40px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}
    
label{
    margin: 0 15px;
}

.col-bottom-bar:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume i{
    color: #ffffff;
    margin-right: 10px;
}

/* FINE BOTTOM BAR */

/* MEDIA QUERY */

@media screen and (max-width: 991px){
    .row-spotify{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .content-spotify img{
        width: 100%;
    }

    .col-spotify{
        width: calc(100% / 4 - 35px);
    }
}

@media screen and (max-width: 780px){
    .row-spotify{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .col-spotify{
        width: calc(100% / 2 - 35px);
    }

    .content-spotify img{
        width: 100%;
    }

    .cartelle{
        display: flex;
        flex-wrap: wrap;
    }

    .cartelle a{
        margin: 0 0 20px 0;
    }

    .heart-folder{
        display: flex;
        flex-direction: column;
    }

    .heart-folder i{
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 600px){
    .nav-bar a, .nav-bar p, .nav-bar h4, .nav-bar i, .nav-bar hr, .logo{
        display: none;
    }

    .nav-bar{
        width: 35px;
    }

    .logo1{
        display: block;
    }

    .logo-spotify img {
        width: 30px;
        padding-right: 5px;
    }

    .ricerca img {
        width: 32px;
        padding-right: 5px;
    }
    
    .navigation-bottom img{
        width: 28px;
        padding-right: 2px;
        margin-left: 4px;
    }

    .border li:first-child {
        border: 0;;
        padding: 0;
    }

    .navigation ul li{
        padding: 0;
    }

    .navigation-bottom {
        padding-left: 0px;
    }

    .main{
        padding: 100px 0 0 60px;
    }

    .name-bottom-bar{
        display: flex;
        flex-direction: column;
    }

    .nav-bar {
        padding: 0 0 72px 0px;
    }

    .navigation{
        padding: 5px;
    }

    input[type="range"]{
        width: 13vw;
    }
}